body{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
}

.bgimage{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url(baim-hanif-pYWuOMhtc6k-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 8px solid white;
    border-style: ridge;
    padding: 12px;
}

.btn{
    color: white;
    font-size: 24px;
    background-color: red;
    height: 60px;
    width: 240px;
    margin-top: 8%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}

.btn:hover{
    opacity: 0.9;
    background-color: rgb(250, 102, 64);

}

a{
    text-decoration: none;
}

.wel{
    font-size: 26px;
    font-style: italic;
    color: aliceblue;
}